<ion-view title="Principal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="produto in produtos track by $index">
                <img>
                <h2>{{produto.nome}}</h2>
                <p>{{produto.usuario.nome}}</p>
            </ion-item>
        </ion-list>
        <ion-footer-bar>
            <div class="button-bar">
            <button class="button button-stable button-icon button-block " ng-repeat="base in bases">{{ base.sigla }}</button>
        </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>