<ion-view view-title="Principal">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="produto in produtos track by $index" href="#/app/produto/{{produto.id}}">
                <img>
                <h2>{{produto.nome}}</h2>
                <p>{{produto.usuario.nome}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<!-- ng-repeat="predio in predios">{{ predio.nome }} -->
