div.box {
  width: 100%;
  height: 100%;
}

.wrap-intro-message {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding-top: 80%;
}

.intro-message {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 130%;
  text-shadow: -1px 0 #CCCCCC, 0 1px #CCCCCC, 1px 0 #CCCCCC, 0 -1px #CCCCCC;
}

.intro-message.small{
  color: white;
  font-size: 18px;
  text-align: center;
  line-height: 130%;
}
